body{
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	overflow-x:auto;
	overflow-y:auto;
	font-size:12px;
	font-family:微软雅黑,宋体; 
    background-color:white;  
}
p {
  margin: 4px,auto;   
}
form {
  margin:0px;       
}

body,div{
	scrollbar-face-color: #C2E2FB;
    scrollbar-highlight-color: #D1D7DC;
    scrollbar-shadow-color: #98AAB1;
    scrollbar-3dlight-color: #ffffff;
    scrollbar-arrow-color: #006699;
    scrollbar-track-color: #EFEFEF;
    scrollbar-darkshadow-color: #EFEFEF;
}


a,table,td,tr,input,select,span,div,textarea,p{
	font-size:12px;
	font-family:微软雅黑,宋体; 
 }
	  
 /*FRAME上的导航栏   background-color:#dcdfe5;*/
.navigator{
	  position:absolute; 
      height:25px; 
      top:0px;
      z-index:9900000;
      width:100%;
      background:#fafafa url('images/navigator_bg.gif');
} 
.navigator_table{
	padding-top:4px;
	width:100%;
	height:20px;
	}
/*页面上导航栏*/
.content_navigator{
	 display:none;
	 width:100%; 
	 background:#dcdfe5;
}   
/*单记录表格背景*/
.dataTable{	
   background-color:white; 
} 
/*用于单记录表格*/
.fieldset {
  border:#A6C9F7 1px solid;
}
/*用于多记录表格*/
.fieldset2 {
  border:white;
}
.fieldset3 {
  border:#A6C9F7 1px solid;
  padding-top:4px;
  padding-bottom:4px;
}
.tablediv{	
  display:block;
  padding:4px,4px;
  background-color:white; 
}
.legend{
	  
 }
	
/*单记录表-信息单元格*/ 
.tdprompt{	
    text-align:right;
	height:21px; 
}

/*单记录表-录入单元格*/
.tdinput{	
  padding-left:5px;
  padding-right:2px;
  background-color:white; 
  height:21px;
  text-align:left;
}

/*单记录表-信息单元格-必录项*/ 
.tdprompt_n{	
	text-align:right;
	height:21px; 
	color:blue;
}
/*单记录表-信息单元格-基础项*/ 
.tdprompt_sn{	
	text-align:right;
	height:21px; 
	color:#be0101;
}
/*文件上传*/
.filebox{ 
	border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	
}
	
/*提示信息框*/   
.labelbox{
	text-align:center;
	color: #000000;
  	width:100%; 
 }
/*单行文本输入框*/   
.textbox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	 
 }
/*银行账号输入文本，与textbox一样*/
.bankaccount{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	 
 }
 /*单行文本输入框-不允许拷贝复制*/  
.notpastebox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	 
 } 
/*快速检索列表-输入框*/   
.searchgridbox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white; 
 }
 
 /*下拉框*/ 
.combobox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%;
    background-color:white;	
 }
 
 /*可录入下拉框*/
.incombox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    background-color:white;	
 }
  /*可录入远程查询下拉框*/
.dbcombox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    background-color:white;	
 } 
 /*联动下拉框*/
.ldcombox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    background-color:white;	
 } 

/*证件号码下拉框*/
.zjcombox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    background-color:white;	
 }  
 /*证件号码输入框*/
.zjtextbox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;		
}
/*日期输入框*/   
.datebox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	
 }
 
/*日期以及时间输入框*/   
.datetime{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	
 }
	
/*单行文本-数值输入框*/   
.numberbox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	 
    text-align:right;
    padding-right:5px;
    ime-mode:disabled;
 }
/*单行文本-浮点型输入框*/   
.floatbox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	 
    text-align:right;
    padding-right:5px;
    ime-mode:disabled;
 }
 /*单行文本-中文输入框*/   
.chinessbox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	 
 }
	
 /*单行文本-年月输入框*/   
.yearmonthbox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	 
 }
 
  /*单行文本-时分秒输入框*/   
.timebox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	 
 }
   /*单行文本-邮政编码输入框*/ 
.postbox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	 
 }
 
 /*单行文本-电话号码输入框*/ 
.phonebox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;	 
 }
 
  /*单行文本-身份证号码输入框*/ 
.idcardbox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    height:21px;
    background-color:white;
    ime-mode:disabled;
 }
 
 /*多行文本输入框*/
.textareabox{
    border: #B5B8C8 1px solid;
    color: #000000;
  	width:100%; 
    background-color:white;	 
 }

/*按钮的样式*/
a.buttonlink2 {
	text-align: center;  
	background-position: center center; 
	height: 20px; 
	cursor: hand;
	padding-top:2px;
	padding-left:20px;
	padding-right:20px;
	word-spacing: 6px; 
	text-decoration: none; 
	background-image: url(images/button.gif); 
	border:#7b9ebd 1px solid;
	margin-right:5px;
}
a.buttonlink2:link {
	color: #5e78bd; text-decoration: none
}
a.buttonlink2:visited {
	color: #5e78bd; text-decoration: none
}
a.buttonlink2:active {
	color: #5e78bd; cursor: hand; text-decoration: none
}
a.buttonlink2:hover {
	color: #003aa3; 
	text-decoration: none;
	background-image: url(images/button_d.gif);
}
a.fdj{ 
	height:16px; 
	width: 16px; 
	text-align: center;  
    background-image:url(images/search.png);
  	opacity:0.6;
	filter:alpha(opacity=60);
}
a.fdj:hover {  
	opacity:0.8;
	filter:alpha(opacity=80);
}
.erroricon{
	background:url(images/error.gif) no-repeat 3px 3px; 
	width:40px;
	height:40px;
	overflow:hidden;
	display:inline-block;
}
.errortitle{
	height: 26px;
	font-size: 15px;
	color: black;
	padding-top:1px;
	padding-left:10px;
	text-align: left;
	vertical-align: middle;
	background-image: url(images/msg_title_bg.gif);
}
.infoicon{
	background:url(images/info.gif) no-repeat 3px 3px; 
	width:40px;
	height:40px;
	overflow:hidden;
	display:inline-block;
}
.infotitle{
	height: 26px;
	font-size: 15px;
	color: black;
	padding-top:1px;
	padding-left:10px;
	text-align: left;
	vertical-align: middle;
	background-image: url(images/msg_title_bg.gif);
}

.succicon{
	background:url(images/succ.gif) no-repeat 3px 3px; 
	width:40px;
	height:40px;
	overflow:hidden;
	display:inline-block;
}
 
 <!-- 首页的样式 -->
.blank_td_title{
  padding-left:5px;
  width:100%;
  border:1px solid #ccc;
  background-image:url(images/list_title_bg1.gif);
	
}
.blank_td_title2{
  padding-left:5px;
  width:100%;
  border:1px solid #ccc;
  background-image:url(images/list_title_bg2.gif);
	
}
.blank_td_content{
  padding-left:5px;
  width:100%;
  cursor:hand;
   border:1px solid #ccc;
}

.blank_td_content-over{
	background:white;
	color:gray;
}

.err_message_blank_board{
	display:block;
	position:absolute;
	top:10px;
	z-index:97;
	right:10px;
	max-width:768px%;
}
/*单条错误消息的样式*/
.err_message{
	display:block;
	position:relative;
	z-index:99;
	float:right;
	clear:both;
	height:16;
	border:1 solid #FB7C46;
	color: #000000;
	background:#F3E26D;
}

/*快捷按钮样式*/
.menu_btn{
padding-left:5px;
padding-right:5px;
 }
/*工作流引擎样式*/
.act{
   width:120px;
   border: 1px solid red;
   margin: 6px;
   text-align: center;
   border: #A6C9F7 1px solid; 
   float: left;
}

.actTitle {
	 width:120px;
	 height:20px;
	 font-weight:bold;
	 margin: 2px;
	  background-color:#EEF1F7;
}

.orgSelect{
	width:120px;
	margin: 2px;
}

.accepter {
	width:120px;
	margin: 2px;
	text-align:left;
}
.accepter select {
	background-color:#FFF;
}
.wfDialogBtn{
	width:100%;
	text-align:right;
	clear: both;
}

.div_wf {
	 text-align: center;
}

.chooseSelf a{
     text-decoration: none;
}
.wftextarea{
   border: #B5B8C8 1px solid;
    color: #000000;
    background-color:white;	 
}
.wf_btn{
	color: blue!important; 
}

/*linkbutton 主要是多记录表单的翻页栏用到*/
a.l-btn{
	color:black;
	background:url('images/button_a_bg.gif') no-repeat top right;
	font-size:12px;
	text-decoration:none;
	display:inline-block;
	zoom:1;
	height:21px;
	padding-right:17px;
	cursor:pointer;
	outline:none;
}
a.l-btn-plain{
	background:transparent;
	padding-right:5px;
	border:1px solid transparent;
	_border:0px solid #efefef;
	_padding:1px 6px 1px 1px;
}

a.l-btn-disabled{
	color:#9A1818;
	opacity:0.5;
	filter:alpha(opacity=50);
	cursor:default;
}
/*
  20160811添加添加
*/
.l-btn-disabled{
	color:#579EBC;
	opacity:0.5;
	filter:alpha(opacity=50);
	cursor:default;
}
/*
   #E61A5F ：粉色
*/
.l-btn-abled{
	color:#E61A5F;
	opacity:0.5;
	filter:alpha(opacity=50);
	cursor:default;
}

a.l-btn span.l-btn-left{
	display:block;
	background:url('images/button_span_bg.gif') no-repeat top left;
	padding:4px 0px 4px 18px;
	line-height:13px;
}
a.l-btn-plain span.l-btn-left{
	background:transparent;
	padding-left:5px;
}

a.l-btn span span.l-btn-text{
	display:inline-block;
	height:14px;
	line-height:14px;
	padding:0px;
}
a.l-btn span span span.l-btn-empty{
	display:inline-block;
	padding:0px;
	width:16px;
	height:16px;
}
a:hover.l-btn{
	background-position: bottom right;
	outline:none;
}
a:hover.l-btn span.l-btn-left{
	background-position: bottom left;
}

a:hover.l-btn-plain{
	border:1px solid #7eabcd;
	background:url('images/button_plain_hover.png') repeat-x left bottom;
	_padding:0px 5px 0px 0px;
}
a:hover.l-btn-disabled{
	background-position:top right;
}
a:hover.l-btn-disabled span.l-btn-left{
	background-position:top left;
}
a.l-btn:active {color:blue;font-weight: bold}
input.focus,textarea.focus,select.focus{
	/*border-color:red;
	border-width: 1px;
	border-style:outset; */
	background-color: #FDFDBD;
 
}
input.readOnly,textarea.readOnly,select.readOnly{
	background-color: #F0F0F0;
	/*border-bottom-style:hidden;
	border: 0;*/
}
input.valueInvalide,textarea.valueInvalide,select.valueInvalide{
	background:#FFFFCC;
	border:1px solid #FC0101;
}
/*批量单选按钮和多选按钮的表格布局样式*/
table.inputSet{
	width:100%;
}