<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>springmvc011</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
	</welcome-file-list>
	
	<!-- 放行js，css这些静态资源文件 -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
	<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	
	
	<!-- <servlet> <servlet-name>springmvc</servlet-name> <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		<init-param> <param-name>contextConfiguration</param-name> <param-value>classpath:springmvc-servlet.xml</param-value> 
		</init-param> <load-on-startup>1</load-on-startup> </servlet> <servlet-mapping> 
		<servlet-name>springmvc</servlet-name> <url-pattern>/</url-pattern> </servlet-mapping> -->
	<!-- 配置 DispatcherServlet -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 配置 DispatcherServlet 的一个初始化参数: 配置 SpringMVC 配置文件的位置和名称 -->
		<!-- 实际上也可以不通过 contextConfigLocation 来配置 SpringMVC 的配置文件, 而使用默认的. 默认的配置文件为: 
			/WEB-INF/<servlet-name>-servlet.xml -->
		<!-- <init-param> 
				<param-name>contextConfigLocation</param-name> 
				<param-value>classpath:springmvc-servlet2.xml</param-value> 
			</init-param> -->
		<!-- 表示启动容器时初始化该Servlet; -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>400</error-code>
		<location>/error/error4.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/error5.html</location>
	</error-page>
</web-app>